references-header {
    margin-top: 7%;
    margin-bottom: -130px;
    width: 100%;
    height: auto;
}

body {
    padding: 0;
    font-family: "Urbanist", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* START OF HEADER AND FOOTER CSS*//* START OF HEADER AND FOOTER CSS *//* START OF HEADER AND FOOTER CSS */
/* START OF HEADER AND FOOTER CSS *//* START OF HEADER AND FOOTER CSS *//* START OF HEADER AND FOOTER CSS */
/* START OF HEADER AND FOOTER CSS *//* START OF HEADER AND FOOTER CSS *//* START OF HEADER AND FOOTER CSS */
#header-main {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .3);
    background-color: white;
}

#header-logo {
    width: 100%;
    max-width: 150px;
    height: auto;
}

#header-logo-link {
    margin-left: 2%;
}

#header-button {
    font-family: "Urbanist", sans-serif;
    color: black;
    font-size: 20px !important;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .30s ease-in-out;
}

#header-button:hover {
    background-color: #E6B453;
    border-radius: 10px;
    color: white;
}

#header-search-bar {
    width: 15vw;
    border-radius: .85rem;
    box-shadow: none;
    position: relative;
}

#header-search-bar:focus {
    border: 1px solid #E6B453;
}

#header-search-button {
    font-size: 1.5rem;
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .6rem;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-border-radius: .85rem;
    --bs-btn-color: black;
}

#header-search-button:hover {
    background-color: white;
    color: #E6B453;
}

#header-login-signup {
    font-family: "Urbanist", sans-serif;
    color: black;
    font-size: 1.75rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-border-color: transparent;
}

#header-login-signup:hover {
    background-color: white;
    color: #E6B453;
}

footer {
    padding: 0;
    margin-top: auto;
    text-decoration: none;
    list-style: none;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #ECC8AD;
}

footer {
    padding: 40px 2% 60px;
    margin: 0px;
}

#footer-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 5.2rem;
}

#footer-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content h6 {
    color: #693625;
    margin-bottom: 1.2rem;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Urbanist', sans-serif;
}

.footer-content li {
    margin-bottom: 8px;
}

.footer-content li a {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: white;
}

.footer-content p {
    color: black;
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 20px 2px;
    margin-bottom: 2px;
}

#social-media-icons a {
    display: inline-block;
    font-size: 22px;
    color: black;
    margin-left: 8px;
    margin-right: 10px;
    transition: all .40s ease;
}

#social-media-icons a:hover {
    color: white;
    transform: translateY(-5px);
}
/* END OF HEADER AND FOOTER CSS */ /* END OF HEADER AND FOOTER CSS */ /* END OF HEADER AND FOOTER CSS */
/* END OF HEADER AND FOOTER CSS */ /* END OF HEADER AND FOOTER CSS */ /* END OF HEADER AND FOOTER CSS */
/* END OF HEADER AND FOOTER CSS */ /* END OF HEADER AND FOOTER CSS */ /* END OF HEADER AND FOOTER CSS */

img{
    margin-top: 7%;
    width: 100%;
    height: auto;

}

/* START OF MENU FORMS *//* START OF MENU FORMS *//* START OF MENU FORMS */
/* START OF MENU FORMS *//* START OF MENU FORMS *//* START OF MENU FORMS */
/* START OF MENU FORMS *//* START OF MENU FORMS *//* START OF MENU FORMS */
.form-container {
    width: 70%;
    padding: 30px;
    margin: 5% auto;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #paper{
    text-align: left;
    color: #693625;
    font-family: "Urbanist", sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  #serviceName{
    text-align: left;
    color: #693625;
    font-family: "Urbanist", sans-serif;
    font-size: 25px;
    font-weight: 700;
  }

  #menuName {
    text-align: center;
    color: #693625;
    font-family: "Urbanist", sans-serif;
    font-size: 70px;
    font-weight: 700;
  }
  
  .label-container {
    display: flex;
    justify-content: space-between;
  }
  
  label {
    display: block;
    margin-top: 20px;
    font-family: "Urbanist", sans-serif;
    color: #693625;
  }

  .name-container {
    display: flex;
    justify-content: space-between;
  }

  .name-field {
    width: 48%; /* Adjust width as needed */
  }

  .name-field input {
    width: 48%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  input[type="number"],
  input[type="submit"] {
    width: 100%;
    height: 35px;
    background: #f6f6f6;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    /* box-sizing: border-box; */
  }
  
  select {
    height: 40px;
  }
  
  input[type="submit"] {
    font-family: "Urbanist", sans-serif;
    margin-top: 5%;
    padding: 17px;
    line-height: 5%;
    background-color: #E6B453;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #693625;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  select:focus,
  input[type="number"]:focus {
    outline: none;
    background-color: #e0e0e0;
  }


input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
select::placeholder,
input[type="number"]::placeholder {
  color: #999; 
  font-family: "Urbanist", sans-serif;
}

/* changing the placeholder color and font-style */
input[type="text"]::placeholder {
  color: #aaa;
  font-family: "Urbanist", sans-serif;
}

option {
    color: #333; 
    font-family: "Urbanist", sans-serif; 
    font-size: 14px; 
    font-weight: normal; 
  }

select:focus option:checked {
    font-family: "Urbanist", sans-serif; /* Change font family for selected option */
}

a {
    color:#693625; /* Change the color value to your preferred color */
    text-decoration:none;
  }
  
  a:hover {
    color: #0097a7; /* Change the hover color value to your preferred color */
  }
  
  .credit-links {
    margin-top: 20px;
  }
  
  .credit-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .credit-links ul li {
    margin-bottom: 10px;
  }
  
  .credit-links ul li a {
    display: block;
    padding: 5px 0;
  }