body{
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
}

/*HEADER CSS*/

#header-container{
    margin: 0;
    padding: 0;
}

#header-container-2{
    margin: 0;
    padding: 0;
}


#header-main{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
    width: 100%;
    background-color: white;
}

#header-logo{
    width: 100%;
    max-width: 150px;
    height: auto;
}

#header-logo-link{
    margin-left: 2%;
}

#header-button{
    font-family: "Urbanist", sans-serif;
    color: black;
    font-size: 20px !important;    
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all .30s ease;
}

#header-button:hover{
    background-color: #E6B453;
    color:  white;
}

#header-search-bar{
    width: 20vw;
    border-radius: .85rem;
    box-shadow: none;
}

#header-search-bar:focus{
    border: 1px solid #E6B453;
}

#header-search-button{
    font-size: 1.5rem;
    --bs-btn-padding-y: .25rem; 
    --bs-btn-padding-x: .6rem;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-border-color:transparent;
    --bs-btn-border-radius: .85rem;
    --bs-btn-color: black;
}

#header-search-button:hover{
    background-color: white;
    color: #E6B453;
}

#header-login-signup{
    font-family: "Urbanist", sans-serif;
    color: black;
    font-size: 1.75rem;
    --bs-btn-hover-border-color:transparent;
    --bs-btn-border-color: transparent;
}

#header-login-signup:hover{
    background-color: white;
    color: #E6B453;
}


/*FOOTER CSS*/
footer{
    position: relative;
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    bottom: 0;
    width: 100%;
    background-color: #ECC8AD;
}

footer{
    padding: 40px 2% 60px;
    margin: 0px;
  }
  
#footer-main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px, auto));
    gap: 3rem;
  }

#footer-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footer-content h6{
    color:#693625;
    margin-bottom: 1.2rem;
    font-size: 16px;
    font-weight:900;
    font-family: 'Urbanist', sans-serif;
  }
  
.footer-content li{
    margin-bottom: 8px;
  }
  
.footer-content li a{
      text-decoration: none;
      display: block;
      color: black;
      font-size: 15px;
      font-weight: 400;
      transition: all .40s ease;
  }
  
.footer-content li a:hover{
      transform: translateY(-3px) translateX(-5px);
      color:white;
          background-color: #693625;
  }
  
.footer-content p{
    color: black;
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 20px 2px;
    margin-bottom: 2px;
  }
  
#social-media-icons a{
    display: inline-block;
    font-size: 22px;
    color: black;
    margin-left: 8px;
    margin-right: 10px;
    transition: all .40s ease;
  }
  
#social-media-icons a:hover{
    color: white;
    transform: translateY(-5px);
  }
  

main{
    position: relative;
    font-family: "Urbanist", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1514933651103-005eec06c04b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
}

#about-us-main-container{
    max-width:75vw;
    max-height: auto;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
    background-color: rgba(255,255,255,0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-us-container{
    margin: 5vh;
    padding: 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-us-headline{
    width: 75vw;
}
#about-us-headline img{
    margin-left: -13px;
    margin-top: -20vh;
}

#about-us-profiles{
    text-wrap: nowrap;
    margin: 2%;
}

#about-us-profiles h1,h3{
    padding: 0;
    margin-left: -3rem;
    margin-bottom: 2rem;
}

#about-us-profiles img{
    border: 2px solid #693625;
    padding: 0;
    width: 6rem;
    height: auto;
}


#about-us-profiles h5{
    margin: 3rem 0 0;
    text-wrap: nowrap;
}

#about-us-socials a{
    text-wrap: nowrap;
    text-decoration: none;
    color: black;
}

#about-us-socials{
    margin: 0;
}

#about-us-socials h3{
    margin-left: -8rem;
    margin-bottom: 2rem;
}

#about-us-more span{
    font-size: 16px;
    text-align: justify;
    
}


